.home-wrapper{
    height:auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-home{
    height: 50%;
    width: 50%;
    margin-top: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-speech{
    height: 50%;
    width: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
}

.speech-title{
    font-size: 3vw;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;
}

.speech-text{
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
    text-align: justify;
    white-space: pre-line;
}