.home-wrapper{
    margin-top: 150px;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo-img{
    width: 330px;
    height: 330px;
    background-image: linear-gradient(to bottom right, #FF8660, #8000FF);
    border-radius: 50%;
    margin-bottom: 20px;
    animation: profile-animation 7s infinite;
}

@keyframes profile-animation{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home-title{
    font-size: 55px;
    font-weight: 850;
}

.home-title-light{
    color: #CCCCCC;
}

.home-title-dark{
    color: #42446E;
}

.home-text {
    width: 32%;
    white-space: pre-wrap;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}