.home-wrapper{
    margin-top: -50px;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo-img{
    width: 330px;
    height: 330px;
    background-image: linear-gradient(to bottom right, #FF8660, #8000FF);
    border-radius: 50%;
    margin-bottom: 20px;
}

.home-title{
    font-size: 55px;
    font-weight: 850;
}

.home-title-light{
    color: #fff;
}

.home-title-dark{
    color: #000;
}