.Navbar_container {
  backdrop-filter: blur(15px);
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 5%;
  width: 50%;
  height: 6%;
  z-index: 1000;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #808080;
  stroke: #808080;

  .Navbar_links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // width: 50%;

    .Navbar_title {
      font-size: 1.2rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      color: #000;

      &:hover {
        cursor: pointer;
      }
    }

    .Navbar_linkActive {
      height: 80%;
      background-color: #f1f1f1;
      border-radius: 50px;
      color: #000;
      stroke: #000;
    }

    .Navbar_link {
      width: auto;
      padding: 0.7rem 0.8rem;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 50px;
      gap: 0.5rem;

      &:hover {
        background-color: #f1f1f1;
        color: #000;
        stroke: #000;
        cursor: pointer;
      }


      svg {
        width: 1.2rem;
      }
    }
  }

  .Navbar_socials {
    display: flex;
    align-items: center;
    gap: 1rem;

    .Navbar_social {
      font-size: 1.2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #f1c40f;
      }
    }
  }
}