.navbar-wrapper {
    background-color: #000;
    height: 7%;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #18181b;
    top: 0;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
}

.pseudo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.home-logo{
    width: 50px;
    height: 50px;
    margin-right: 10%;
}

.home-logo:hover{
    cursor: pointer;
}

.pseudo{
    font-size: 1.5vw;
    color: #fff;
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.link{
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
}

.link-active{
    color: #00DD00;
}

.icth-link{
    width: 10%;
    margin-right: 5%;
}

.link-button{
    all: unset;
    cursor: pointer;
    font-size: 1vw;
    color: #000;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0.5vw;
    border-radius: 25px;
    background-color: #00DD00;
}