.navbar-wrapper {
    background-color: transparent;
    height: 7%;
    position: fixed;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #18181b;
    top: 30px;
    border-radius: 35px;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
    backdrop-filter: blur(15px);
}

.pseudo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 15%;
}

.home-logo{
    width: 50px;
    height: 50px;
    margin-right: 10%;
}

.home-logo:hover{
    cursor: pointer;
}

.pseudo{
    font-size: 1.5vw;
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.link{
    font-size: 1vw;
    text-decoration: none;
}

.link-active{
    color: #00DD00;
}

.icth-link{
    width: 10%;
    height: 100%;
    display: flex;  
    flex-direction: row;
    gap: 1.2vw;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -9%;
}

.mode-button{
    all: unset;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-button:hover{
    cursor: pointer;
}

.link-button{
    all: unset;
    cursor: pointer;
    font-size: 1vw;
    text-decoration: none;
    width: 70%;
    height: 50%;
    text-align: center;
    padding: 0.2vw;
    border-radius: 25px;
    background-color: #00DD00;
}

.visit-logo{
    width: 15px;
    height: 15px;
    place-self: center;
}

.navbar-text-light{
    color: #fff;
}

.navbar-text-dark{
    color: #000;
}

.fill-light{
    stroke: white;
}

.fill-dark{
    stroke: black;
}